pandas
python-dotenv
streamlit
langchain
faiss-cpu
sentence-transformers
transformers
rank-bm25
scikit-learn
pymupdf
openpyxl
accelerate
torch
open_clip_torch
torchvision
langchain-text-splitters
pyarrow
openai
pytesseract
pillow
opencv-python
camelot-py[cv]
ghostscript